# Merge

1M MovieLens database (http://www.grouplens.org/node/73) contains 1,000,209 ratings of 3,900 films made during yerar 2000 for 6040 anonymous users from MovieLens recommender Online (http://www.movielens.org)

The contents of the database are:

================================================================================

All ratings are contained in the file "ratings.dat" and are in the following format:

UserID::MovieID::Rating::Timestamp

- UserIDs range between 1 and 6040 
- MovieIDs range between 1 and 3952
- Ratings are made on a 5-star scale (whole-star ratings only)
- Timestamp is represented in seconds since the epoch as returned by time(2)
- Each user has at least 20 ratings

USERS FILE DESCRIPTION

================================================================================

User information is in the file "users.dat" and is in the following format:

UserID::Gender::Age::Occupation::Zip-code

All demographic information is provided voluntarily by the users and is not checked for accuracy.  Only users who have provided some demographic information are included in this data set.

- Gender is denoted by a "M" for male and "F" for female
- Age is chosen from the following ranges:

	*  1:  "Under 18"
	* 18:  "18-24"
	* 25:  "25-34"
	* 35:  "35-44"
	* 45:  "45-49"
	* 50:  "50-55"
	* 56:  "56+"

- Occupation is chosen from the following choices:

	*  0:  "other" or not specified
	*  1:  "academic/educator"
	*  2:  "artist"
	*  3:  "clerical/admin"
	*  4:  "college/grad student"
	*  5:  "customer service"
	*  6:  "doctor/health care"
	*  7:  "executive/managerial"
	*  8:  "farmer"
	*  9:  "homemaker"
	* 10:  "K-12 student"
	* 11:  "lawyer"
	* 12:  "programmer"
	* 13:  "retired"
	* 14:  "sales/marketing"
	* 15:  "scientist"
	* 16:  "self-employed"
	* 17:  "technician/engineer"
	* 18:  "tradesman/craftsman"
	* 19:  "unemployed"
	* 20:  "writer"

MOVIES FILE DESCRIPTION

================================================================================

Movie information is in the file "movies.dat" and is in the following format:

MovieID::Title::Genres

- Titles are identical to titles provided by the IMDB (including year of release)
- Genres are pipe-separated and are selected from the following genres:

	* Action
	* Adventure
	* Animation
	* Children's
	* Comedy
	* Crime
	* Documentary
	* Drama
	* Fantasy
	* Film-Noir
	* Horror
	* Musical
	* Mystery
	* Romance
	* Sci-Fi
	* Thriller
	* War
	* Western

- Some MovieIDs do not correspond to a movie due to accidental duplicate entries and/or test entries
- Movies are mostly entered by hand, so errors and inconsistencies may exist

Download the database and copy it to a local directory on your machine. (./ml-1m/)

Load the three files in the database into three `DataFrames`.

In [1]:
import pandas as pd
unames = ['user_id', 'gender', 'age', 'occupation', 'zip']
users = pd.read_table('./ml-1m/users.dat', sep='::', header=None, names=unames, engine='python')
rnames = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_table('./ml-1m/ratings.dat', sep='::', header=None, names=rnames,  engine='python')
mnames = ['movie_id', 'title', 'genres']
movies = pd.read_table('./ml-1m/movies.dat', sep='::', header=None, names=mnames,  engine='python')

To work with these data, the first step is to obtain a unique structure containing all the information. To do this we can use the function `merge` of pandas. This function automatically infers which columns should be used for the `merge` based on the names that are intersecting:

In [2]:
data = pd.merge(pd.merge(ratings, users), movies)
print data[:10]

   user_id  movie_id  rating  timestamp gender  age  occupation    zip  \
0        1      1193       5  978300760      F    1          10  48067
1        2      1193       5  978298413      M   56          16  70072
2       12      1193       4  978220179      M   25          12  32793
3       15      1193       4  978199279      M   25           7  22903
4       17      1193       5  978158471      M   50           1  95350
5       18      1193       4  978156168      F   18           3  95825
6       19      1193       5  982730936      M    1          10  48073
7       24      1193       5  978136709      F   25           7  10023
8       28      1193       3  978125194      F   25           1  14607
9       33      1193       5  978557765      M   45           3  55421

                                    title genres
0  One Flew Over the Cuckoo's Nest (1975)  Drama
1  One Flew Over the Cuckoo's Nest (1975)  Drama
2  One Flew Over the Cuckoo's Nest (1975)  Drama
3  One Flew Over the Cuckoo's Nest (1975)  Drama
4  One Flew Over the Cuckoo's Nest (1975)  Drama
5  One Flew Over the Cuckoo's Nest (1975)  Drama
6  One Flew Over the Cuckoo's Nest (1975)  Drama
7  One Flew Over the Cuckoo's Nest (1975)  Drama
8  One Flew Over the Cuckoo's Nest (1975)  Drama
9  One Flew Over the Cuckoo's Nest (1975)  Drama

# Exercises: 

**MovieLens database**

1- Filter films that have received at least 250 ratings:

In [5]:
ratings_by_title = data.groupby('title').size()
print ratings_by_title[ratings_by_title >= 250]

active_titles = ratings_by_title.index[ratings_by_title >= 250]
active_titles

title
'burbs, The (1989)                      303
10 Things I Hate About You (1999)       700
101 Dalmatians (1961)                   565
101 Dalmatians (1996)                   364
12 Angry Men (1957)                     616
13th Warrior, The (1999)                750
2 Days in the Valley (1996)             286
20,000 Leagues Under the Sea (1954)     575
2001: A Space Odyssey (1968)           1716
2010 (1984)                             470
28 Days (2000)                          505
39 Steps, The (1935)                    253
54 (1998)                               259
7th Voyage of Sinbad, The (1958)        258
8MM (1999)                              272
...
Working Girl (1988)                       514
World Is Not Enough, The (1999)           862
Wrong Trousers, The (1993)                882
Wyatt Earp (1994)                         270
X-Files: Fight the Future, The (1998)     996
X-Men (2000)                             1511
Year of Living Dangerously (1982)         391
Yellow Submarine (1968)                   399
You've Got Mail (1998)                    838
Young Frankenstein (1974)                1193
Young Guns (1988)                         562
Young Guns II (1990)                      369
Young Sherlock Holmes (1985)              379
Zero Effect (1998)                        301
eXistenZ (1999)                           410
Length: 1216, dtype: int64

Index([u''burbs, The (1989)', u'10 Things I Hate About You (1999)', u'101 Dalmatians (1961)', u'101 Dalmatians (1996)', u'12 Angry Men (1957)', u'13th Warrior, The (1999)', u'2 Days in the Valley (1996)', u'20,000 Leagues Under the Sea (1954)', u'2001: A Space Odyssey (1968)', u'2010 (1984)', u'28 Days (2000)', u'39 Steps, The (1935)', u'54 (1998)', u'7th Voyage of Sinbad, The (1958)', u'8MM (1999)', u'About Last Night... (1986)', u'Absent Minded Professor, The (1961)', u'Absolute Power (1997)', u'Abyss, The (1989)', u'Ace Ventura: Pet Detective (1994)', u'Ace Ventura: When Nature Calls (1995)', u'Addams Family Values (1993)', u'Addams Family, The (1991)', u'Adventures in Babysitting (1987)', u'Adventures of Buckaroo Bonzai Across the 8th Dimension, The (1984)', u'Adventures of Priscilla, Queen of the Desert, The (1994)', u'Adventures of Robin Hood, The (1938)', u'African Queen, The (1951)', u'Age of Innocence, The (1993)', u'Agnes of God (1985)', u'Air America (1990)', u'Air Force One (1997)', u'Airplane II: The Sequel (1982)', u'Airplane! (1980)', u'Akira (1988)', u'Aladdin (1992)', u'Alice in Wonderland (1951)', u'Alien (1979)', u'Alien Nation (1988)', u'Alien: Resurrection (1997)', u'Aliens (1986)', u'Alien� (1992)', u'Alive (1993)', u'All About Eve (1950)', u'All About My Mother (Todo Sobre Mi Madre) (1999)', u'All Quiet on the Western Front (1930)', u'All That Jazz (1979)', u'Almost Famous (2000)', u'Amadeus (1984)', u'American Beauty (1999)', u'American Gigolo (1980)', u'American Graffiti (1973)', u'American History X (1998)', u'American Movie (1999)', u'American Pie (1999)', u'American President, The (1995)', u'American Psycho (2000)', u'American Tail, An (1986)', u'American Werewolf in London, An (1981)', u'American Werewolf in Paris, An (1997)', u'American in Paris, An (1951)', u'Amistad (1997)', u'Amityville Horror, The (1979)', u'Anaconda (1997)', u'Analyze This (1999)', u'Anastasia (1997)', u'And Now for Something Completely Different (1971)', u'Angel Heart (1987)', u'Animal House (1978)', u'Anna and the King (1999)', u'Annie Hall (1977)', u'Antz (1998)', u'Any Given Sunday (1999)', u'Apartment, The (1960)', u'Apocalypse Now (1979)', u'Apollo 13 (1995)', u'Apostle, The (1997)', u'Arachnophobia (1990)', u'Aristocats, The (1970)', u'Arlington Road (1999)', u'Armageddon (1998)', u'Army of Darkness (1993)', u'Around the World in 80 Days (1956)', u'Arrival, The (1996)', u'Arsenic and Old Lace (1944)', u'Arthur (1981)', u'As Good As It Gets (1997)', u'Astronaut's Wife, The (1999)', u'Atlantic City (1980)', u'Auntie Mame (1958)', u'Austin Powers: International Man of Mystery (1997)', u'Austin Powers: The Spy Who Shagged Me (1999)', u'Avengers, The (1998)', u'Awakenings (1990)', u'Babe (1995)', u'Babe: Pig in the City (1998)', u'Bachelor Party (1984)', u'Bachelor, The (1999)', u'Back to School (1986)', u'Back to the Future (1985)', ...], dtype='object')

2- Obtain the mean ratings for each movie grouped by gender that have at least 250 ratings.

In [6]:
mean_ratings = data.pivot_table('rating', index='title',columns='gender', aggfunc='mean')
mean_ratings = mean_ratings.ix[active_titles]
mean_ratings[:10]

gender                                      F         M
title
'burbs, The (1989)                   2.793478  2.962085
10 Things I Hate About You (1999)    3.646552  3.311966
101 Dalmatians (1961)                3.791444  3.500000
101 Dalmatians (1996)                3.240000  2.911215
12 Angry Men (1957)                  4.184397  4.328421
13th Warrior, The (1999)             3.112000  3.168000
2 Days in the Valley (1996)          3.488889  3.244813
20,000 Leagues Under the Sea (1954)  3.670103  3.709205
2001: A Space Odyssey (1968)         3.825581  4.129738
2010 (1984)                          3.446809  3.413712

3- Show films more valued by women.

In [7]:
top_female_ratings = mean_ratings.sort_index(by='F', ascending=False)
top_female_ratings[:10].F

title
Close Shave, A (1995)                                     4.644444
Wrong Trousers, The (1993)                                4.588235
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)             4.572650
Wallace & Gromit: The Best of Aardman Animation (1996)    4.563107
Schindler's List (1993)                                   4.562602
Shawshank Redemption, The (1994)                          4.539075
Grand Day Out, A (1992)                                   4.537879
To Kill a Mockingbird (1962)                              4.536667
Creature Comforts (1990)                                  4.513889
Usual Suspects, The (1995)                                4.513317
Name: F, dtype: float64

4- Now we wonder which movies are rated more differently between men and women. Which films have more different rating and are more highly valued by women? And the films preferred by men which doesn't liked women? What are the films that have generated the most discordant ratings, regardless of gender?

In [10]:
mean_ratings['diff'] = mean_ratings['M'] - mean_ratings['F']
#Sort by'diff':  films have more different rating and are more highly valued by women
sorted_by_diff = mean_ratings.sort_index(by='diff')
print sorted_by_diff[:15]

#Switching the order we get the films preferred by men which doesn't liked women
print sorted_by_diff[:-15:-1]

# We can use standard deviation of the ratings to find the films that have generated the most discordant ratings, regardless of gender

# Standard deviation of rating grouped by title
rating_std_by_title = data.groupby('title')['rating'].std()
# Filter down to active_titles
rating_std_by_title = rating_std_by_title.ix[active_titles]
print rating_std_by_title.order(ascending=False)[:10]

gender                                        F         M      diff
title
Dirty Dancing (1987)                   3.790378  2.959596 -0.830782
Jumpin' Jack Flash (1986)              3.254717  2.578358 -0.676359
Grease (1978)                          3.975265  3.367041 -0.608224
Little Women (1994)                    3.870588  3.321739 -0.548849
Steel Magnolias (1989)                 3.901734  3.365957 -0.535777
Anastasia (1997)                       3.800000  3.281609 -0.518391
Rocky Horror Picture Show, The (1975)  3.673016  3.160131 -0.512885
Color Purple, The (1985)               4.158192  3.659341 -0.498851
Age of Innocence, The (1993)           3.827068  3.339506 -0.487561
Free Willy (1993)                      2.921348  2.438776 -0.482573
French Kiss (1995)                     3.535714  3.056962 -0.478752
Little Shop of Horrors, The (1960)     3.650000  3.179688 -0.470312
Guys and Dolls (1955)                  4.051724  3.583333 -0.468391
Mary Poppins (1964)                    4.197740  3.730594 -0.467147
Patch Adams (1998)                     3.473282  3.008746 -0.464536
gender                                         F         M      diff
title
Good, The Bad and The Ugly, The (1966)  3.494949  4.221300  0.726351
Kentucky Fried Movie, The (1977)        2.878788  3.555147  0.676359
Dumb & Dumber (1994)                    2.697987  3.336595  0.638608
Longest Day, The (1962)                 3.411765  4.031447  0.619682
Cable Guy, The (1996)                   2.250000  2.863787  0.613787
Evil Dead II (Dead By Dawn) (1987)      3.297297  3.909283  0.611985
Hidden, The (1987)                      3.137931  3.745098  0.607167
Rocky III (1982)                        2.361702  2.943503  0.581801
Caddyshack (1980)                       3.396135  3.969737  0.573602
For a Few Dollars More (1965)           3.409091  3.953795  0.544704
Porky's (1981)                          2.296875  2.836364  0.539489
Animal House (1978)                     3.628906  4.167192  0.538286
Exorcist, The (1973)                    3.537634  4.067239  0.529605
Fright Night (1985)                     2.973684  3.500000  0.526316
title
Dumb & Dumber (1994)                     1.321333
Blair Witch Project, The (1999)          1.316368
Natural Born Killers (1994)              1.307198
Tank Girl (1995)                         1.277695
Rocky Horror Picture Show, The (1975)    1.260177
Eyes Wide Shut (1999)                    1.259624
Evita (1996)                             1.253631
Billy Madison (1995)                     1.249970
Fear and Loathing in Las Vegas (1998)    1.246408
Bicentennial Man (1999)                  1.245533
Name: rating, dtype: float64

5- Calculate the average rating of each user.

In [12]:
mean_rating_by_user = data.groupby('user_id')['rating'].mean()
mean_rating_by_user[:15]

user_id
1          4.188679
2          3.713178
3          3.901961
4          4.190476
5          3.146465
6          3.901408
7          4.322581
8          3.884892
9          3.735849
10         4.114713
11         3.277372
12         3.826087
13         3.388889
14         3.320000
15         3.323383
Name: rating, dtype: float64

What is the highest rated movie in average?

In [22]:
data.groupby('title')['rating'].mean().ix[active_titles].order(ascending=False)[:1].index.tolist()

['Seven Samurai (The Magnificent Seven) (Shichinin no samurai) (1954)']

6- Define a function called  <b>top_movies</b> that given a user it returns what movies have the highest rank for this user.

def top_movies(user)

In [24]:
def top_movies(dataFrame,usr):
    max_i = dataFrame[dataFrame.user_id == usr].rating.max() 
    print max_i
    return dataFrame[(dataFrame['user_id'] == usr) & (dataFrame['rating'] == max_i )].title

print top_movies(data,1)

5
0        One Flew Over the Cuckoo's Nest (1975)
4201                       Bug's Life, A (1998)
8222                             Ben-Hur (1959)
8926                  Christmas Story, A (1983)
12759               Beauty and the Beast (1991)
15859                Sound of Music, The (1965)
19503                         Awakenings (1990)
23270                 Back to the Future (1985)
25853                   Schindler's List (1993)
28501                         Pocahontas (1995)
37204            Last Days of Disco, The (1998)
37339                         Cinderella (1950)
40375                          Apollo 13 (1995)
41626                          Toy Story (1995)
43703                           Rain Man (1988)
49748                       Mary Poppins (1964)
50759                              Dumbo (1941)
52255                Saving Private Ryan (1998)
Name: title, dtype: object

**Data from Excel**

7- Read data from excel files: `MunicipisCatalunya.xlsx` and `BBDD_1_OCTUBRE_WEB_SI`. Browse their contents and find the % of catalan municipalities and % of population that supports a ballot for the self-determination of Catalonia at 1st of October.

In [25]:
### Your Code HERE
import pandas as pd
munip = pd.read_excel('MunicipisCatalunya.xlsx')
munipsi = pd.read_excel('BBDD_1_OCTUBRE_WEB_SI.xlsx')
print munipsi.head()
munipsi.dropna(subset=['Data ple (dd/mm/aa)'])
print "% Municipalities:", float(len(munipsi))/len(munip)
print "% Population:", munipsi['Habitants'].sum()/munip['CENS'].sum()

         MUNICIPI  Habitants  Data ple (dd/mm/aa) Hora (hh:mm)   Comarca  \
0     Aiguamúrcia        914  2014-09-25 00:00:00        20:00  Alt Camp
1         Alcover       5143  2014-09-05 00:00:00          NaN  Alt Camp
2            Alió        386  2014-09-23 00:00:00     20:00:00  Alt Camp
3          Bràfim        680  2014-09-22 00:00:00     20:00:00  Alt Camp
4  Cabra del Camp       1146  2014-09-26 00:00:00     18:30:00  Alt Camp

   Provincia
0  Tarragona
1  Tarragona
2  Tarragona
3  Tarragona
4  Tarragona
% Municipalities: 0.966173361522
% Population: 0.89741078245

In [26]:
import numpy as np
print munipsi.ix[np.where(munipsi.MUNICIPI==u"L'Albagés")]
print munip.ix[np.where(munip.MUNICIPI==u"L'Albagés")]

      MUNICIPI  Habitants  Data ple (dd/mm/aa) Hora (hh:mm)    Comarca  \
412  L'Albagés        462  2014-09-22 00:00:00        15:00  Garrigues

    Provincia
412    Lleida
      CODI ENS  CODI POSTAL NOM CURT   MUNICIPI ZONA MUNTANYA    COMARCA  \
12  2500610007        25155  Albagés  L'Albagés           NaN  Garrigues

   PROVÍNCIA  CENS  SUPERFICIE  ALTURA
12    Lleida   476       26.03     372

** Data from CSV**

8- Read data from csv file: `ma-ba.csv`. Count the number of times `Barça` wins `Madrid` and compute the stadistics of % win, % lose and % draw.

In [35]:
import pandas as pd
### Your Code HERE

maba = pd.read_csv('ma-ba.csv')
maba.columns = ['No','Fecha','Lugar','Partidos','resultado','Competicion']
print 'Total matches', len(maba)
df = pd.DataFrame()
df["Local"]= maba["Partidos"].str.split('-').apply(lambda x: x[0].strip())
df["Visitor"]= maba["Partidos"].str.split('-').apply(lambda x: x[1].strip())
df["GL"]= maba["resultado"].str.split('-').apply(lambda x: x[0])
df["GV"]= maba["resultado"].str.split('-').apply(lambda x: x[1])

#Alternative implementation using Series Constructor and concatening DataFrames
#df = pd.DataFrame(maba.resultado.str.split('-').apply(pd.Series, 1))
#df1 = pd.DataFrame(maba.Partidos.str.split('-').apply(pd.Series, 1))
#df =pd.concat([df1,df],axis=1)
#df.columns = ['Local','Visitor','GL','GV']
#df.Local = df.Local.apply(str.strip)
#df.Visitor = df.Visitor.apply(str.strip)


#normalize R. Madrid name
df["Local"].replace(to_replace=["Madrid FC","R.Madrid"], value = ["R. Madrid"]*2, inplace=True)
df["Visitor"].replace(to_replace= ["Madrid FC","R.Madrid"], value = ["R. Madrid"]*2, inplace=True)

print df.head()
print("")

## Lets do statistics for both teams
def doStatistics(team,df):
    # Count victories as Local:
    local=df[df.Local == team]
    victoriesLocal = sum(local.GL > local.GV)
    drawLocal = sum(local.GL == local.GV)
    loseLocal = sum(local.GL < local.GV)
    print team+' win as local:', victoriesLocal
     # Count victories as Visitor:
    visitor=df[df.Visitor == team]
    victoriesVisitor = sum(visitor.GV > visitor.GL)
    drawVisitor = sum(visitor.GV == visitor.GL)
    loseVisitor = sum(visitor.GV < visitor.GL)
    print team +' win as visitor:', victoriesVisitor

    print 'Total Victories '+ team + ':', victoriesLocal + victoriesVisitor,'(', float((victoriesLocal + victoriesVisitor))/len(maba)*100,'%)'
    print 'Total Draws :', drawLocal + drawVisitor,'(', float((drawLocal + drawVisitor))/len(maba)*100,'%)'
    print 'Total Lose :', loseLocal + loseVisitor,'(', float((loseLocal + loseVisitor))/len(maba)*100,'%)'
    print("")
    assert victoriesLocal+victoriesVisitor+drawLocal+drawVisitor+loseLocal+loseVisitor == len(maba)

doStatistics("Barcelona",df)
doStatistics("R. Madrid",df)

Total matches 260
       Local    Visitor GL GV
0  R. Madrid  Barcelona  1  3
1  Barcelona  R. Madrid  5  2
2  Barcelona  R. Madrid  7  0
3  Barcelona  R. Madrid  1  0
4  R. Madrid  Barcelona  2  2

Barcelona win as local: 75
Barcelona win as visitor: 32
Total Victories Barcelona: 107 ( 41.1538461538 %)
Total Draws : 59 ( 22.6923076923 %)
Total Lose : 94 ( 36.1538461538 %)

R. Madrid win as local: 68
R. Madrid win as visitor: 26
Total Victories R. Madrid: 94 ( 36.1538461538 %)
Total Draws : 59 ( 22.6923076923 %)
Total Lose : 107 ( 41.1538461538 %)

#Further Reading
Pandas has much more functionalities. Check out the (very readable) pandas docs if you want to learn more:

http://pandas.pydata.org/pandas-docs/stable/